.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#ff5722,#ff6633);
    position: sticky;
    top: 0;
    z-index: 4;
}

.header__navbar{
    height: var(--narbar-height);
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}

.header__navbar-item{
    margin: 0px 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-user {
    
}

.header__navbar-user-name {

}

.header__navbar-user-img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
}

.header__navbar-item-has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item, 
.header__navbar-item-link {
    font-size: 1.4rem;
    display: inline-block;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-item, 
.header__navbar-item-link,
.header__navbar-icon {
    display: inline-flex;
    align-items: center;
}

.header__navbar-item:hover, 
.header__navbar-icon-link:hover, 
.header__navbar-item-link:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%); 
}

.header__navbar-icon-link {
    text-decoration: none;
    color: var(--white-color);
}
.header__navbar-icon {
    margin: 0 4px;
}
.header__navbar-item-title--no-pointer {
    cursor: default;
}
/* QR */

.header__qr {
    z-index: 1;
    width: 186px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    animation: FadeIn linear .3s;
    display: none;
}

.header__qr::before {
    position: absolute;
    left: 0;
    top: -16px;
    width: 100%;
    height: 10%;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link {

}

.header__qr-link:first-child {
    margin-left: 11px;
}

.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 16px;
}

/* NOTIFY */

.header__notify {
    z-index: 3;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    width: 404px;
    border: 1px solid #D3D3D3;
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: notifyGrow ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border: 20px solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -30px;
}

.header__navbar-item-has-notify::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: calc(100% - 10px);
}

.header__navbar-item-has-notify:hover .header__notify {
    display: block;
}

@keyframes notifyGrow {
    from{
        opacity: 0;
        transform: scale(0);
    }
    to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    cursor: default;
    height: 40px;
    background-color: var(--white-color);
}

.header__notify-header h3 {
    line-height: 40px;
    color: #999;
    margin: 0 0 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-list {
    padding-left: 0;
}

.header__notify-item {
    display: flex;
    background-color: rgba(238, 75, 43, 0.09);
}

.header__notify-item:hover {
    background-color: #f8f8f8;
}

.header__notify-item--viewed {
    background-color: inherit;
}

.header__notify-link {
    display: flex;
    object-fit: contain;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    height: 48px;
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8px;
    color: var(--black-color);
}

.header__notify-description {
    display: block;
    font-size: 1.2rem;
    line-height: 2.6rem;
    color: #756F6E;
    margin-top: 10px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    margin: auto;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 32px;
    display: block;
}

/* AUTH FORM */

.auth-form {
    width: 500px;
}

.auth__form-container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 12px;
}

.auth-form__heading {
    font-size: 1.8em;
}

.auth-form__switch-btn {
    font-size: 1.6em;
    cursor: pointer;
}

.auth-form__body {
    margin-top: 24px;
}

.auth-form__input {
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    line-height: 40px;
    width: 100%;
    outline: none;
}

.auth-form__input:focus {
    border: 1px solid rgb(49, 48, 48);
}

.auth-form__aside {
    margin: 36px 0 100px 0;

    text-align: center;
}

.auth-form__policy-text {
    padding: 0 12px;
    font-size: 1.2rem;
}

.auth-form__text-link {
    text-decoration: none;
    font-size: 1.2rem;
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 12px;
}

.auth-form__controls-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #ded4d4;
    padding: 12px 34px;
    display: flex;
    justify-content: space-between;
}

.btn--with-icon {
    width: 49.5%;
    display: flex;
}

.auth-form__socials-icon {
    font-size: 1.6rem;
    margin-left: 12px;
}

.auth-form__socials-facebook {
    background-color: #2c62a3; 
    color: #fff;  
}

.auth-form__socials-google {
    background-color: #d50f25; 
    color: #fff;  
}

.auth-form__socials-facebook
.auth-form__socials-icon {
    color: var(--white-color);
}

.auth-form__socials-title {
    flex: 1;
    text-align: center;
}

.auth-form__policy-text.auth-form__policy-text--login {

}

.auth-form__aside.auth-form__aside--login {
    text-align: right;
}

.auth-form__text-link--separate {
    height: 12px;
    width: 1px;
    display: inline-block;
    background-color: #999;
}

/* HEADER WITH SEARCH */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
    width: 200px;
}

.header__logo-img {
    width: 150px;
}

/* SEARCH */
.header__search {
    height: 40px;
    background-color: #fff;
    flex-grow: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__search-input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 0 12px;
    border-radius: 2px;
}


.header__search-content {
    position: relative;
    flex: 1;
    display: flex;
}

.header__search-history-heading {
    color: #d2c6c6;
    padding: 10px 10px;
    border-bottom: 1px solid #efe2e2;
    margin: 0;
    font-size: 1.4rem;
}

.header__search-history {
    z-index: 2;
    position: absolute;
    top: calc(100% + 14px);
    left: 0;
    padding-top: 4px;
    background: #fff;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 2px;
    display: none;
}

.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.header__search-history-item {
    display: block;
    text-decoration: none;
    font-size: 1.4em;
    color: var(--text-color);
    padding: 10px 18px;
}

.header__search-history-item:hover { 
    background-color: cadetblue;
}

.header__search-select {
    padding-left: 16px;
    border-left: 1px solid #ccc;
    position: relative;
}

.header__search-select-lable {
    font-size: 1.2rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.2rem;
    color: #4A4A4A;
    margin: 0 12px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 64px;
    outline: none;
    cursor: pointer;
    border-radius: 2px ;
    margin-right: 3px;
}

.header__search-btn:hover {
    filter: opacity(0.5);
}

.header__search-btn-icon {
    font-size: 1.6rem;
    color: #fff;
}

.header__search-option {
    z-index: 3;
    padding-left: 0;
    margin-top: 14px;
    border-radius: 2px;
    border: 1px solid rgb(207, 198, 198);
    position: absolute;
    right: 0;
    top: 100%;
    width: calc(100% + 20px);
    background-color: #fff;
    list-style: none;
    display: none;
    animation: FadeIn ease-in 0.1s;
}

.header__search-select::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
}

.header__search-option-item {
    display: flex;
    padding: 10px 24px;
    justify-content: space-between;
    font-size: 1.2rem;
}

.header__search-option-item:hover {
    background-color: #ccc;
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option-item.header__search-option-item--active {

}

/* NO CART */
.cart {
    position: relative;
    width: 150px;
    text-align: center;
}

.cart__icon {
    font-size: 2.4rem;
    color: var(--white-color);
    position: relative;
    text-decoration: none;
}

.cart__img {
    width: 100%;
}


.cart__icon::after {
    content: "";
    position: absolute;
    top: 70%;
    right: 0;
    width: calc(100% * 2);
    height: 20px;
}

.cart__content.cart__content-nocart {
    border-radius: 2px;
    border: 1px solid #e9d7d5;
    position: absolute;
    right: 56px;
    background-color: #fff;
    color: var(--text-color);
    font-size: 1.2rem;
    padding: 40px 80px;
    width: 380px;
    margin-top: 9px;
    display: none;
}

.cart__content::before {
    content: "";
    position: absolute;
    top: -30px;
    right: 0px;
    border: 20px solid;
    border-color: transparent transparent #fff transparent;
}

.cart__title {
    padding: 10px;
}

.cart.cart--nocart:hover .cart__content-nocart{
    display: block;
}

/* YES CART */

.cart__content--cart {
    z-index: 3;
    color: var(--text-color);
    position: absolute;
    top: calc(100% + 8px);
    right: 56px;
    width: 400px;
    background-color: #fff;
    border: 1px solid rgb(202, 174, 174);
    display: none;
}

.cart-notice {
    position: absolute;
    top: -10px;
    background-color: #fff;
    padding: 0px 5px;
    border: 2px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 46%;
    right: calc(50% + -24px);
    cursor: pointer;
}

.cart-heading {
    text-align: left;
    font-size: 1.4rem;
    margin: 16px 0 16px 17px;
    color: #ccccc2;
}

.cart-list {
    margin: 0;
    padding: 0;
    height: 36vh;
    overflow-y: scroll;
}

.cart-item {
    padding: 10px 18px;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.cart-item:hover {
    background-color: rgb(169, 213, 214);
}

.cart-item__img {
    height: 100%;
    object-fit: contain;
    border: 1px solid #ccccc2;
}

.cart-item__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 20px;
    height: 100%;
    
}

.cart-item__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cart-item__title {
    margin: 0;
    font-size: 1.3rem;
    max-width: 160px;
    text-align: left;
    line-height: 2rem;
    max-height: 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

    /* FLEX: 1 fix for name & price */
}

.cart-item__wrap-price {
    font-size: 1.2rem;
}

.cart-item__price {
    font-size: 1.6rem;
    font-weight: 900;
}

.cart-item__quantity {
    font-size: 1.6rem;
    font-weight: 900;
}

.cart-item__btn {
    float: right;
    margin-top: auto;
    width: 36px;
    font-size: 1.3rem;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--primary-color);
}

.cart-total {
    padding: 0 18px;
    border-top: 1px solid #ccccc2
}

.cart-total__total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 54px;
    font-size: 2.0rem;
    font-weight: 900;
}

.cart-total__total-text {

}

.cart-total__total-price {
}

.cart-total__core {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 54px;
    font-size: 2.0rem;
    font-weight: 900;
}

.cart-total__total-core {

}

.btn-to-cart {
    width: 0px;
    margin-left: auto;
    margin-bottom: 10px;
    float: right;
}


.cart.cart--hascart:hover .cart__content--cart{
    display: block;
}

/* CONTAINER */

.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 36px;
    padding-bottom: 10px;
}

.category {
    background-color: #fff;
    border-radius: 2px;
    padding-bottom: 1px;
    position: sticky;
    top: calc(var(--header-height));
}

.category__heading {
   padding: 16px 16px 24px 18px;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    color: var(--text-color);
    border-bottom: 1px solid #ccccc2;
    margin-top: 0;
}

.category-list {
    list-style: none;
    padding-left: 30px;
}

.category-item {
    position: relative;
    padding: 10px 0;
    right: 0;
    transition: right linear 0.1s;
}

.category-item:hover {
    right: -4px;
    color: var(--primary-color);
}

.category-item--active  .category-item__link{
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    position: absolute;
    left: -11px;
    top: 50%;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    transform: translateY(calc(-50% - 1px));
}

.category__heading-icon {
    margin-right: 6px;
    font-size: 1.7rem;
}

.category-item__link {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
}

/* HOME SORT + FILTER */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__btn {
    margin-right: 12px;
    min-width: 100px;

}

.home-filter__page {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.home-filter__page-num {
    font-size: 1.4rem;
    margin-right: 14px;   
}

.home-filter__page-control {
    display: flex;
    width: 72px;
    height: 36px;
    align-items: center;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.home-filter__page-btn {
    flex: 1;
    height: 100%;
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disable {
    background-color: #D3D3D3;
    color: #fff;
    cursor: default;
    pointer-events: none;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #ccccc2;
}

.home-filter__page-icon {
    margin: auto;
    color: var(--text-color);
}

/* PRODUCT ITEM */

.product-item {
    background-color: var(--white-color);
    margin: 12px 0 0 0;
    position: relative;
    display: block;
    text-decoration: none;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transition: transform ease-in 0.1s;
}

.product-item:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.product-item__img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top center;
}

.product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px;
    overflow: hidden;
    display: block;
    /* white-space: nowrap; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    margin: 10px 0;
}

.product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    content: #666;
    color: var(--text-color);
    text-decoration: line-through;
}

.product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}

.product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 28px 10px 10px;
}

.product-item__like {

}

i.product-item__like-icon-fill {
    display: none;
}

.product-item__like--liked .product-item__like-icon-fill {
    display: inline-block;
}

.product-item__like--liked .product-item__like-icon-empty {
    display: none;
}

.product-item__rating {
    /* SIZE: ZOOM or TRANFORM + TRANFORM-ORIGIN */
    margin: -1px 0 0 auto;
    /* POSITION: RELEATIVE */
}

.product-item__star-black {
    color: #000;
}

.product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.product-item__origin {
    margin: 3px 10px 0 10px;
    display: flex;
    justify-content: space-between;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 4px;
}

.product-item__brand {

}

.product-item__origin-name {

}

.product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.product-item__favorite i {
    font-size: 0.9rem;
    margin: 0 3px 0 5px;
    color: var(--white-color);
}

.product-item__favorite span {
    color: var(--white-color);
}

.product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}

.product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64, 0.9);
    text-align: center;

}

.product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    border-width: 0 20px 16px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.9) transparent rgba(255, 216, 64, 0.9);
}

.product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}

.product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
}


/* PANIGATION */

.panigation {
    margin-top: 60px;
}